.hide-incrementer::-webkit-inner-spin-button,
.hide-incrementer::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.hide-incrementer {
  -moz-appearance: textfield;
}


.custom-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  background-color: rgba(50, 50, 50, 0.732);
}

.custom-scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #696666;
  border-radius: 8px;
}


/* sidebar scrollbar  */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background-color: transparent;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0E1825;
  border-radius: 4px;
}



/* styles.css */

.tournModalComponent-custom-gradient {
  background: linear-gradient(to top, #080F18 10%, #080F18 5%, transparent 85%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.content-area {
  color: #B2C7E9;
  padding: 0 0 1rem 0.5rem;
}

.content-area h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #E2E2E2;
}

.content-area h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #E2E2E2;
}
.content-area h4 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #E2E2E2;
}

.content-area ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 10px;
}

.content-area ol {
  list-style-type: decimal;
  margin-left: 2rem;
  margin-bottom: 10px;
}

.content-area li {
  margin-bottom: 5px;
}

.content-area p {
  margin-bottom: 15px;
}

.content-area a {
  text-decoration: underline;
  color: #F88B26;
}

.content-area strong{
color: #E2E2E2;
}

.custom-dropdown {
  background-color: #080F18;
  color: #6C81A1;
  padding: 6px;
  border: 1px solid #6C81A130;
  width: 100%;
  border-radius: 5px;
}

.custom-dropdown:focus {
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* Invert color to white */
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #0E1825;
}


.bg-highlighted-text {
  background-color: #0E1825;
  height: fit-content;
  width: fit-content;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  font-size: 14px;
}